.ipynb_checkpoints
SFM_results
openMVG*
*.bin
temp.py
templering.json
sfm_data.bin
*.sh
*.ipynb
testing.ply
tet.ply
textures
*.zip
src
test
textures
cloud_and_poses.ply
dinoRing_dense_mesh_refine.ply
mesh_textured_2.ply
mesh_visualize.ply



